header {
font-size: 100px;

}

p {
font-size: 50px;
}

#first{
    font-size: 50px;
    color: blue;
}

#last{
    font-size: 50px;
    color: red;
}

#banner{
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center; 
}